<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <style>
        table,th,td{
            border:thin black solid;
        }
        table{
            border-collapse: collapse;
        }

    </style>
</head>
<body>
    <h1>{{titulo}}</h1>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Edad</th>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.edad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>